html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Playfair+Display", sans-serif, serif;
  color: #5a5a56;
  font-size: 16px;
}

.container {
  width: 960px;
  margin: 20px auto;
}

.lifestyle {
  padding: 20px;
}

.lifestyle_section {
  display: flex;
  
}

.section_block {
  padding: 20px;
}

